<div>
  <form [formGroup]="doadorForm" (ngSubmit)="handleSubmit()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="nome" />
      <p-dropdown  
        [options]="tiposPessoa" 
        formControlName="tipoPessoa" 
        placeholder="Selecione o Tipo de Pessoa">
      </p-dropdown>
      
      <p-dropdown 
        [options]="estados" 
        formControlName="siglaEstado" 
        placeholder="Selecione um Estado">
      </p-dropdown>

      <div *ngIf="doadorForm.get('tipoPessoa')?.value === 'F'">
        <input style="margin-right: 13px!important" type="text" appCpfMask appCpfValidator pInputText placeholder="CPF" formControlName="cpf" />
        <input style="margin-right: 13px!important" maxlength="9" pInputText placeholder="RG" formControlName="rg" />
        <input style="margin-right: 13px!important" type="date" pInputText placeholder="Data de Nascimento" formControlName="dataNascimento" />
        <p-dropdown 
          [options]="generos" 
          formControlName="genero" 
          placeholder="Selecione o Gênero">
        </p-dropdown>
      </div>

      <div *ngIf="doadorForm.get('tipoPessoa')?.value === 'J'">
        <input pInputText style="margin-right: 10px;" type="text" appCnpjMask appCnpjValidator placeholder="CNPJ" formControlName="cnpj" />
        <input pInputText placeholder="Razão Social" formControlName="razaoSocial" />
      </div>

      <input pInputText placeholder="Contato 1" maxlength="11" type="number" formControlName="contato1" />
      <input pInputText placeholder="Contato 2" maxlength="11"  formControlName="contato2" />
      <input pInputText placeholder="CEP" type="number" maxlength="8"  formControlName="cep" />
      <input pInputText placeholder="Rua" formControlName="logradouro" />
      <input pInputText placeholder="Número" formControlName="numero" />
      <input pInputText placeholder="Complemento" formControlName="complemento" />
      <input pInputText placeholder="Bairro" formControlName="bairro" />
      <input pInputText placeholder="Cidade" formControlName="cidade" />


      <textarea pInputTextarea placeholder="Observações" formControlName="observacoes"></textarea>

      <div class="flex flex-row justify-content-center align-content-center align-items-center">
        <p-button [disabled]="!doadorForm.valid" type="submit" label="Concluir"></p-button>
      </div>
    </div>
  </form>
</div>
